@font-face {
    font-family: Roboto-Regular;
    src: url(font/Roboto-Regular.ttf);
}    
body {
    margin: 0 auto;
    font-family: roboto-regular;
}

header {
    float: left;
    width: 100%;
    background-color: #E9E8E8;
    z-index: 1000;
}
.container {
    padding-top: 0px 10px;
    height: 124px;
    background-color: transparent;
    width: 1000px;
    margin: 0 auto;
}
.image {
    float: left;
    background: no-repeat;
    margin: -40px -50px;
}
h1 {
    text-indent: -99999px;
}
.media {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px 80px;
}
.media1 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px 50px;
}
.media2 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px 20px;
}
.media3 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px -10px;
}
.media4 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px -40px;
}
.media5 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px -70px;
}
.main {
    width: 1250px;
    margin: 0 auto;
    max-width: 1500px;
 }
 h2 {
     color: #FFB600;
     font-size: 48px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
 }
 .search {
    background-color:#FFFFFF;
    border-color: ;
    border-radius: 3px;
    border-style: solid;
    font-size: 12px;
    height: 18px;
    float: right;
    margin: -12px -27px;
    padding: 8px 10px;
    width: 200px;
 }
 .bar {
    float: right;
    height: 40px;
    margin: -14px -215px;
    width: 40px;
 }
 /*.home {
     float: left;
     width: 10px;
     border-bottom-color: #0088dd;
     margin: auto 200px;
 }
 .company {
    float: left;
    margin: auto -139px;
    width: 50%;
}*/
ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    display: inline;
}
li {
    display: inline;
    width: 60px;
    margin: 0 20px;

}
.menu {
    padding: 0px;
    margin: 10px 134px;
}
li :hover {
         border-bottom-color: #0088dd;
}