@font-face {
    font-family: Roboto-Regular;
    src: url(font/Roboto-Regular.ttf);
}    
body {
    margin: 0 auto;
    font-family: roboto-regular;
    width: 100%;
    padding: 0px;
}

header {
    float: left;
    width: 100%;
    background-color: #E9E8E8;
    z-index: 1000;
    margin: 0 auto;
    padding: 0px;
}
.container {
    height: 124px;
    background-color: transparent;
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
}
.image {
    float: left;
    background: no-repeat;
    margin: -40px 1px;
    padding: 0px;
}
h1 {
    text-indent: -99999px;
}
.media {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px 80px;
}
.media1 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px 50px;
}
.media2 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px 20px;
}
.media3 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px -10px;
}
.media4 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px -40px;
}
.media5 {
    height: 20px;
    width: 20px;
    float: right;
    margin: -65px -70px;
}
.main {
    margin: 0 auto;
    align-self: center;
    width: 100%;
    float: center;
    padding: 0 auto;
 }
h2 {
     color: #FFB600;
     font-size: 80px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     background: transparent;
     position: absolute;
     padding: 125px 56px;
     text-transform: uppercase;
     text-shadow: 4px 4px 3px #000000;
 }
 h3{
     color: #FFB600;
     font-size: 80px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     background: transparent;
     position: absolute;
     padding: 183px 56px;
     text-transform: uppercase;
     text-shadow: 4px 4px 3px #000000;
 }
 .search {
    background-color:#FFFFFF;
    border-color: ;
    border-radius: 3px;
    border-style: solid;
    font-size: 12px;
    height: 18px;
    float: right;
    margin: -12px -27px;
    padding: 8px 10px;
    width: 200px;
 }
 .bar {
    float: right;
    height: 40px;
    margin: -14px -215px;
    width: 40px;
 }
 /*.home {
     float: left;
     width: 10px;
     border-bottom-color: #0088dd;
     margin: auto 200px;     
 }
 span :hover {
         border-bottom-color: #0088dd;
}
 .company {
    float: left;
    margin: auto -139px;
    width: 50%;
}*/
ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    display: inline;
}
li {
    display: inline;
    margin: 0 20px;
}
.menu {
    padding: 0px;
    margin: 10px 134px;
}
li :hover {
    border-bottom-color: #0088dd;
}
.container2 {
    background-color: #E9E8E8;
    width: 100%;
    margin: auto;
    max-width: 1300px;
}
.second {
    margin-top: -4px;
    width: 100%;
    align-content: center;
    max-width: 1500px;
    background-color: #E9E8E8;
}
.iphone {
    float: left;
    margin-top: -4px; 
}
.company {
    float: right;
    margin: 0 auto;
    height: 572px;
    width: 600px;
}
h4 {
    font-size: 50px;
    font-weight: bold;
    color: cornflowerblue;
}
p {
    color: silver;
    font-weight: bold;
    font-size: 24px;
    margin-top: -59px;
}
span {
    font-size: 28px;
    font-weight: bold;
    font-style: oblique;
}
